*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f5f7fb;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#111;
color:white;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

/* HERO */
.hero{
text-align:center;
padding:100px 20px;
background:linear-gradient(135deg,#6a11cb,#2575fc);
color:white;
}

button{
padding:10px 20px;
margin-top:15px;
border:none;
border-radius:5px;
cursor:pointer;
background:#111;
color:white;
}

/* COURSES */
#courses{
padding:60px 20px;
text-align:center;
}

/* LIVE BATCH */
.live-banner{
margin:30px auto;
padding:40px;
max-width:600px;
border-radius:10px;
background:linear-gradient(135deg,#ff512f,#dd2476);
color:white;
}

/* RECORDED */
.course-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.course-card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.course-card:hover{
transform:translateY(-10px);
}

/* YOUTUBE */
#youtube{
padding:60px 20px;
text-align:center;
}

/* CTA */
.cta{
padding:60px;
background:#222;
color:white;
text-align:center;
}

/* FOOTER */
footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}

/* MOBILE */
@media(max-width:768px){
.course-container{
flex-direction:column;
align-items:center;
}
}
