/* Live Batch Section */
.live-batch{
margin-top:40px;
text-align:center;
}

.live-banner{
margin:30px auto;
padding:40px;
max-width:700px;
border-radius:15px;
color:white;
background:linear-gradient(135deg,#ff512f,#dd2476);
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.live-banner h2{
font-size:28px;
}

.live-banner p{
margin-top:10px;
font-size:16px;
}

.live-banner button{
margin-top:15px;
background:white;
color:#dd2476;
font-weight:bold;
}


/* Recorded Section */
.recorded-section{
margin-top:60px;
text-align:center;
}

.course-card{
background:white;
padding:25px;
width:260px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.course-card h4{
margin-bottom:10px;
}

.course-card p{
font-size:14px;
color:#555;
}

.course-card button{
margin-top:10px;
background:#2575fc;
color:white;
}

.course-card:hover{
transform:translateY(-10px);
box-shadow:0 15px 30px rgba(0,0,0,0.2);
}
